.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(95, 172, 50);
  padding: 0.9em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 6em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #ffbb33;
  text-decoration: none;
}
